In [1]:
#Import

#pandas
import pandas as pd
from pandas import Series,DataFrame

#numpy
import numpy as np

In [2]:
#路径
path='C:\Users\Wvv\Datacastle_subsidy'

#导入score_train数据
score_test_name=['id','college','score']
score_test=pd.read_table(path+'/final_test/score_final_test.txt',sep=',',header=None,names=score_test_name)

#删除重复行并浏览前几行数据
score_test=score_test.drop_duplicates()
score_test.head()

      id  college  score
0  26282        6   1563
1  10082        6   1564
2  13408        4      5
3  30425        4      8
4  11488        8   2233

In [2]:
#路径
path='C:\Users\Wvv\Datacastle_subsidy'

#导入score_train数据
score_test_name=['id','college','score']
score_test=pd.read_table(path+'/test/score_test.txt',sep=',',header=None,names=score_test_name)

#删除重复行并浏览前几行数据
score_test=score_test.drop_duplicates()
score_test.head()

   id  college  score
0   2        9   1561
1   3        9   2831
2  16       15      1
3  17       15      2
4  32        8   2255

In [3]:
subsidy_feature=pd.read_csv('all_feature_input/subsidy_test_feature.csv')
score_test=pd.merge(subsidy_feature,score_test,how='left',on='id')

#缺失填充
score_test['college']=score_test['college'].fillna(method='pad')

In [4]:
#获得每个学院的总人数

college_num=DataFrame(score_test.groupby('college')['score'].max())

#导出数据（不用college做index）
college_num.to_csv('score_input/college_test_num.csv',index=True)

#读取数据
college_num=pd.read_csv('score_input/college_test_num.csv')
college_num.columns=['college','college_num']

In [5]:
#拼接两表

score_test=pd.merge(score_test,college_num,how='left',on='college')

In [42]:
#填充缺失的score，分学院填充

def fill_na_score(df):
    a=list(df.groupby('college')['id'].count().index)
    for i in range(len(a)):
        if i==0:
            college=df.loc[df['college']==a[i]]
            college['score']=college['score'].fillna(method='pad')
        else:
            college_i=df.loc[df['college']==a[i]]
            college_i['score']=college_i['score'].fillna(method='pad')
            college=pd.concat([college,college_i])
    return college
            
            
#运用函数
score_test=fill_na_score(score_test)

C:\Users\Wvv\Anaconda3\envs\py2\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Wvv\Anaconda3\envs\py2\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [39]:
len(c)

10961

In [43]:
#计算该生在学院排名的百分百

score_test['score_order']=score_test['score'].divide(score_test['college_num'],fill_value=0)

In [44]:
score_test.head()

      id  money  college  score  college_num  score_order
51   134    NaN      1.0   63.0        369.0     0.170732
175  516    NaN      1.0  280.0        369.0     0.758808
209  632    NaN      1.0   62.0        369.0     0.168022
224  671    NaN      1.0   97.0        369.0     0.262873
225  672    NaN      1.0   97.0        369.0     0.262873

In [9]:
len(score_test)

10961

In [45]:
score=score_test.loc[score_test['college']==4]

In [50]:
score.head()

     id  money  college   score  college_num  score_order
2    12    NaN      4.0  1351.0       2418.0     0.558726
3    13    NaN      4.0  1351.0       2418.0     0.558726
4    14    NaN      4.0  1351.0       2418.0     0.558726
22   55    NaN      4.0    82.0       2418.0     0.033912
48  131    NaN      4.0  1364.0       2418.0     0.564103

In [16]:
index=list(score_test.groupby('college')['id'].count().index)

In [17]:
index

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0]

In [47]:
b=score_test[score_test['score'].isnull()]
b

Empty DataFrame
Columns: [id, money, college, score, college_num, score_order]
Index: []

In [48]:
score_test.drop('money',axis=1,inplace=True)

In [49]:
score_test.to_csv('score_input/score_test_feature_f.csv',index=False)

In [11]:
score_test.to_csv('score_input/score_test_feature_f_2.csv',index=False)