In [1]:
import numpy as np
import pandas as pd

In [2]:
#训练集

path='C:\Users\Wvv\Datacastle_subsidy'
train_name=['id','money']
train=pd.read_table(path+'/train/subsidy_train.txt',sep=',',header=None,names=train_name)
train=train.drop_duplicates()
train.head()

   id  money
0   0      0
1   1      0
2   8      0
3   9      0
4  10      0

In [3]:
len(train)

10885

In [4]:
train.to_csv('all_feature_input/subsidy_train_feature.csv',index=False)

In [3]:
#测试集

path='C:\Users\Wvv\Datacastle_subsidy'
test_name=['id']
test=pd.read_table(path+'/test/studentID_test.txt',sep=',',header=None,names=test_name)
test=test.drop_duplicates()
test.head()

   id
0   2
1   3
2  16
3  17
4  32

In [4]:
len(test)

10783

In [5]:
test['money']=np.nan

In [6]:
test.head()

   id  money
0   2    NaN
1   3    NaN
2  16    NaN
3  17    NaN
4  32    NaN

In [9]:
test.to_csv('all_feature_input/subsidy_test_feature.csv',index=False)

In [7]:
test.to_csv('all_feature_input/subsidy_test_feature_2.csv',index=False)